@import 'tailwindcss';

@theme {
  --color-background: #161321;
  --color-surface: #2c2e3d;
  --color-overlay: #5b607d;

  --color-outline: var(--color-black);

  --color-text: #d9dfe7;
  --color-text-hover: #f0f6fe;
  --color-muted: #a9b1c1;

  --color-accent: #8662da;
  --color-primary: #7248f0;

  --animate-slideDown: slideDown linear 35s infinite,
    fadeInOut linear 35s infinite;
  @keyframes slideDown {
    to {
      opacity: 0%;
      transform: translateY(calc(100vh + 100%));
    }
  }

  --animate-slideUp: slideUp linear 35s infinite, fadeInOut linear 35s infinite;
  @keyframes slideUp {
    to {
      transform: translateY(calc(-100vh - 100%));
    }
  }

  --animate-slideRight: slideRight linear 35s infinite,
    fadeInOut linear 35s infinite;
  @keyframes slideRight {
    to {
      transform: translateX(calc(100vw + 100%));
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0%;
    }
    10% {
      opacity: 5%;
    }
    90% {
      opacity: 5%;
    }
    100% {
      opacity: 0%;
    }
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}
