---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const description = 'Showcasing some of my recent programming projects.';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.releaseDate.getTime() - a.data.releaseDate.getTime(),
);
---

<BaseLayout title="Projects" description={description}>
  <div class="mb-4 flex flex-col items-center gap-4 px-2 py-1">
    <header
      class="border-surface hover:border-primary mt-2 rounded-md border-2 p-4 transition-colors"
    >
      <h1 class="mb-2 text-4xl font-bold tracking-wide">Projects</h1>
      <p class="text-muted tracking-wide">{description}</p>
    </header>
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</BaseLayout>
