---

---

<div
  class="from-accent/20 to-background fixed -z-50 h-screen w-screen bg-radial-[at_50%_100%] from-5%"
>
  <div
    class="bg-primary animate-slideDown absolute -top-5 -right-10 size-[40vh] rounded-full"
  >
  </div>
  <div
    class="bg-primary animate-slideUp absolute -bottom-50 -left-15 size-[55vh] rounded-full"
  >
  </div>
</div>
